
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Appli sailsjs de virgile bessoere">
  <meta name="author" content="virgile bessiere">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>

<div class="container">

  <div style="text-align: center;">
    <h1>Bienvenue dans l'appli SailsJS de Virgile BESSIERE</h1>
  </div>
  <div style="text-align: center;">
    <a href="/login">Se connecter</a><br />
    <a href="/signup">S'inscrire</a>
  </div>

</div>
</body>
</html>
